/* Stylesheet for index.html */

h1 {
        font-family: Garamond;
        color:#00acc1;  
        border-style: solid;
        border-color: #00acc1;
        padding: 5px;
        text-align: center;
        font-variant: small-caps;
        font-size: 55px;
        font-weight: bold;
}

img.center {
        display: block;
        max-width:55%;
        max-height:55%;
        width: auto;
        height: auto;
        text-align: center;
}