/* Stylesheet for index.html */

h1 {
        font-family: Garamond;
        color:#00acc1;  
        border-style: solid;
        border-color: #00acc1;
        padding: 5px;
        text-align: center;
        font-variant: small-caps;
        font-size: 55px;
        font-weight: bold;
        margin-top: 0;
}

img {
        display: block;
        max-width: 40%;
        max-height: 40%;
        width: auto;
        height: auto;
        margin: 0 auto 0 auto;
}

#navbar {
        padding-bottom: 25px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Garamond;
}