/* Stylesheet for bio.html and resume.html */

body {
        background-color: #ffffff;
}

#header {
        font-family: Garamond;
        color:#26c6da;  
        border-style: solid;
        border-style: #78909c;
        padding: 25px;
        text-align: center;
}

h1 {
        font-weight: bold;
}

h2 {
        font-size: 25px;
        font-variant: small-caps;
}



