/* A simple stylesheet */

body {
        background-color: #ffffff;
}

#header {
        font-family: Garamond;
        color:#26c6da;  
}

h1 {
        border-style: solid;
        border-style: #78909c;
        padding: 25px;
        text-align: center;
}

h2 {
        padding: 25px;
        text-align: center;
}



