/* Stylesheet for bio.html and resume.html */

body {
        background-color: #ffffff;
}

#header {
        font-family: Garamond;
        color:#00acc1;  
        border-style: solid;
        border-color: #00acc1;
        text-align: center;
        font-variant: small-caps;
}

#blocktext {
        text-align: justify;
}

.keyinfo {
        font-weight: bold;
        color:#78909c; 
}

h1 {
        font-size: 55px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
}

h2 {
        font-size: 25px;
}

h3 {
        font-family: Garamond;
        color:#546e7a; 
        font-variant: small-caps;
        font-size: 25px; 
        margin-left: 5%;
        margin-right: 5%;
}

p {
        font-size: 17px;
        font-family: Garamond;
        color: #263238;
        margin-left: 10%;
        margin-right: 10%;
}

ul {
        font-size: 15px;
        font-family: Garamond;
        color: #263238;
        margin-left: 10%;
        margin-right: 10%;
}

#navbar {
        padding-bottom: 25px;
}

#navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
}

#navbar li {
        float: left;
}

#navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin-left: none;
        margin-right: none;
}